* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box {
    padding: 50px;
}

.box h1 {
    font-weight: 500;
    font-size: 36px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.box p {
    color: #95A1BB;
    margin-bottom: 30px;
}

.img_avatar {
    width: 55px;
    height: 55px;
}

.avatar {
    width: 280px;
    height: 48px;
    display: flex;
}

.avatar_name {
    padding-top: 5px;
    padding-left: 5px;
    text-align: start;
}

.avatar_name h6 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #363940;
}

.avatar_name p {
    color: #95A1BB;
    font-weight: 500;
    font-size: 12px;
    margin-top: 5px;
}

.avatar_content {
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
    gap: 30px;
    margin-bottom: 100px;
}

.content {
    width: 460px;
    height: 140px;
    display: flex;
}

.img_content {
    width: 140px;
    height: 140px;
}

.content_text {
    margin-top: 2px;
    text-align: left;
    margin-left: 20px;
}

.content_text h6 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #363940;
    margin-bottom: 10px;
}

.content_text p {
    color: #95A1BB;
    font-weight: 500;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.content1 {
    margin-left: 230px;
    margin-top: -40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.team_img {
    width: 610px;
    height: 845px;
}

.box_team {
    width: 220px;
    height: 234px;
}

.flex {
    display: flex;
    margin-top: 100px;
}

.team_title {
    text-align: left;
    padding-left: 100px;
}

.team_avatar {
    width: 220px;
    height: 160px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box_team h6 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
}

.box_team p {
    font-weight: 500;
    font-size: 12px;
    color: #95A1BB;
}

/* .team {
    width: 100%;
} */

.team_title p {
    width: 460px;
    height: 44px;
    color: #95A1BB;
    margin-bottom: 20px;
    margin-top: 10px;
}

.team_title h1 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 36px;
    font-family: sans-serif;
}